<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE phpunit SYSTEM "../src/phpunit.dtd">

<phpunit>

  <testsuite name="MVC">
  	<!-- <file>RenderersTest.php</file> -->
  </testsuite>

  <testsuite name="Persistence">

  	<file>classes/persistence/MySQLTest.php</file>

	<!--
	<file>classes/persistence/SQLiteTest.php</file>
	<file>classes/persistence/SQLSRVTest.php</file>
	<file>classes/persistence/MSSQLTest.php</file>
	-->

  </testsuite>

  <testsuite name="Annotations">
    <file>AnnotationTest.php</file>
  </testsuite>

  <testsuite name="Interceptors">
    <file>InterceptorTest.php</file>
  </testsuite>

  <testsuite name="SOAP Web Services">
  	<file>SoapRpcEncodedTest.php</file>
	<file>SoapRpcLiteralTest.php</file>
	<file>SoapDocumentLiteralTest.php</file>
  </testsuite>

</phpunit>